## <font color='blue'>Projeto - Parte 1 - Pré-Processamento</font>
### <font color='blue'>Seleção de Modelos de Machine Learning em Análise Multivariada com Dados Anonimizados</font>

In [2]:
# Imports
import pandas as pd
import numpy as np
import pickle

In [3]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Henrique Bardella" 
%watermark -v -m
%watermark --iversions

Author: Henrique Bardella

Python implementation: CPython
Python version       : 3.9.12
IPython version      : 8.4.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : AMD64 Family 25 Model 80 Stepping 0, AuthenticAMD
CPU cores   : 16
Architecture: 64bit

numpy : 1.21.5
pandas: 1.5.0

### Carregando os dados

In [5]:
# Carregando os dados
df_dsa = pd.read_csv('dados/dataset.csv')

In [6]:
# Shape
df_dsa.shape

(11500, 179)

In [7]:
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,False
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,True
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,False
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,False
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,False

In [8]:
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11500 entries, 0 to 11499
Columns: 179 entries, X1 to LABEL_TARGET
dtypes: bool(1), int64(178)
memory usage: 15.6 MB

## Análise Exploratória e Limpeza de Dados

In [16]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

False    9200
True     2300
Name: LABEL_TARGET, dtype: int64

In [17]:
# Converte de string para valor numérico
df_dsa["LABEL_TARGET"] = df_dsa["LABEL_TARGET"].astype(int)

In [18]:
df_dsa.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,0
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,0
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,0
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,0

In [19]:
print("N° de colunas", len(df_dsa.columns))

N° de colunas 179

In [20]:
# Resumo estatística
df_dsa.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-10.911565,-10.187130,-9.143043,-8.009739,-7.003478,-6.502087,-6.68713,-6.55800,-6.168435,...,-10.145739,-11.630348,-12.943478,-13.668870,-13.363304,-13.045043,-12.705130,-12.426000,-12.195652,0.200000
std,165.626284,166.059609,163.524317,161.269041,160.998007,161.328725,161.467837,162.11912,162.03336,160.436352,...,164.652883,166.149790,168.554058,168.556486,167.257290,164.241019,162.895832,162.886311,164.852015,0.400017
min,-1839.000000,-1838.000000,-1835.000000,-1845.000000,-1791.000000,-1757.000000,-1832.000000,-1778.00000,-1840.00000,-1867.000000,...,-1867.000000,-1865.000000,-1642.000000,-1723.000000,-1866.000000,-1863.000000,-1781.000000,-1727.000000,-1829.000000,0.000000
25%,-54.000000,-55.000000,-54.000000,-54.000000,-54.000000,-54.000000,-54.000000,-55.00000,-55.00000,-54.000000,...,-55.000000,-56.000000,-56.000000,-56.000000,-55.000000,-56.000000,-55.000000,-55.000000,-55.000000,0.000000
50%,-8.000000,-8.000000,-7.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.00000,-7.00000,-7.000000,...,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000
75%,34.000000,35.000000,36.000000,36.000000,35.000000,36.000000,35.000000,36.00000,36.00000,35.250000,...,34.000000,34.000000,33.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.000000
max,1726.000000,1713.000000,1697.000000,1612.000000,1518.000000,1816.000000,2047.000000,2047.00000,2047.00000,2047.000000,...,1777.000000,1472.000000,1319.000000,1436.000000,1733.000000,1958.000000,2047.000000,2047.000000,1915.000000,1.000000

In [21]:
# Verificando se tem valores ausentes
df_dsa.isnull().values.any()

False

In [22]:
# Extrai a lista de colunas
lista_de_colunas = df_dsa.columns.tolist()

In [23]:
# Colunas das variáveis de entrada (input)
colunas_entrada = lista_de_colunas[0:178]

In [24]:
print(colunas_entrada)

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X72', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X121', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X149', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178']

In [25]:
# Checando se temos colunas duplicadas no dados de entrada
dup_cols = set([x for x in colunas_entrada if colunas_entrada.count(x) >  1])
print(dup_cols)
assert len(dup_cols) == 0, "Voce duplicou colunas em cols_input"

set()

In [26]:
# Checando se temos colunas duplicadas no dataset completo
dup_cols = set([x for x in lista_de_colunas if lista_de_colunas.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0,'você duplicou colunas em lista_de_colunas'

set()

In [27]:
# Categorias da variável alvo
df_dsa.LABEL_TARGET.value_counts()

0    9200
1    2300
Name: LABEL_TARGET, dtype: int64

> A prevalência é a porcentagem das amostras que têm a característica que você está tentando prever. Em nosso caso, significa que as pessoas que renovaram o seguro são da classe positiva (ocorrência do evento) e quem não comprou é da classe negativa (não ocorreu o evento).

> Os termos positivo e negativo não têm conotação de coisa boa ou ruim. É apenas a nomenclatura usada para indicar a ocorrência ou não do evento.

> A taxa é calculada por (número de amostras positivas / número de amostras). Portanto, uma taxa de prevalência de 0,2 significa que 20% de nossa amostra renovou o seguro do carro.

In [28]:
# Função calcula a prevalencia da classe positiva (label = 1)
def calcula_prevalencia(y_actual):
    return sum(y_actual)/len(y_actual)

In [29]:
print("Prevalência da classe positiva: %.3f"% calcula_prevalencia(df_dsa["LABEL_TARGET"].values))

Prevalência da classe positiva: 0.200

> O desbalanceamento de classe é um problema que terá que ser resolvido durante o pré-processamento dos dados.

### Divisão dos dados mantendo a prevalencia de classe

In [30]:
# Gerando amostras aleatórias dos dados
df_data = df_dsa.sample(n = len(df_dsa))

In [31]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
1005,140,210,265,318,358,408,459,492,497,459,...,-42,-52,-53,-28,22,80,147,188,156,1
9707,30,29,20,-3,-24,-40,-56,-63,-66,-64,...,38,37,39,32,21,15,19,21,21,0
1667,26,26,19,23,34,38,40,54,71,81,...,-86,-87,-75,-80,-78,-89,-93,-93,-99,0
4653,-83,-78,-63,-43,-48,-57,-69,-72,-73,-66,...,35,-4,-29,-29,-2,29,51,52,33,0
288,179,147,91,39,20,40,65,91,107,121,...,70,65,26,-22,-63,-74,-51,-13,27,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9309,-247,-389,-477,-484,-412,-285,-171,-82,-9,70,...,290,186,28,-100,-151,-186,-270,-422,-570,1
5971,-12,-16,-9,21,53,92,145,211,292,390,...,-40,-45,-45,-38,-36,-35,-34,-32,-35,0
3647,36,28,18,7,-3,-20,-34,-43,-52,-57,...,-47,-45,-43,-43,-33,-25,-19,-18,-16,0
7566,-60,-84,-106,51,119,178,222,233,209,150,...,29,13,5,11,21,33,44,46,55,0
9117,-73,-74,-77,-81,-60,-21,37,84,84,43,...,-38,-12,-6,-15,-48,-76,-74,-59,-25,0

In [32]:
# Ajustando os índices do dataset
df_data = df_data.reset_index(drop = True)

In [33]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,140,210,265,318,358,408,459,492,497,459,...,-42,-52,-53,-28,22,80,147,188,156,1
1,30,29,20,-3,-24,-40,-56,-63,-66,-64,...,38,37,39,32,21,15,19,21,21,0
2,26,26,19,23,34,38,40,54,71,81,...,-86,-87,-75,-80,-78,-89,-93,-93,-99,0
3,-83,-78,-63,-43,-48,-57,-69,-72,-73,-66,...,35,-4,-29,-29,-2,29,51,52,33,0
4,179,147,91,39,20,40,65,91,107,121,...,70,65,26,-22,-63,-74,-51,-13,27,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,-247,-389,-477,-484,-412,-285,-171,-82,-9,70,...,290,186,28,-100,-151,-186,-270,-422,-570,1
11496,-12,-16,-9,21,53,92,145,211,292,390,...,-40,-45,-45,-38,-36,-35,-34,-32,-35,0
11497,36,28,18,7,-3,-20,-34,-43,-52,-57,...,-47,-45,-43,-43,-33,-25,-19,-18,-16,0
11498,-60,-84,-106,51,119,178,222,233,209,150,...,29,13,5,11,21,33,44,46,55,0
11499,-73,-74,-77,-81,-60,-21,37,84,84,43,...,-38,-12,-6,-15,-48,-76,-74,-59,-25,0

In [34]:
# extrai uma amostra de 30% dos dados de forma aleatória
df_amostra_30 = df_data.sample(frac = 0.3)

In [35]:
df_amostra_30

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
10312,-47,-53,-62,-72,-88,-97,-100,-79,-35,12,...,-3,-51,-158,-255,-308,-320,-285,-226,-147,1
6816,-123,-113,-107,-102,-99,-90,-77,-66,-61,-63,...,0,12,22,24,13,5,-2,0,1,0
7387,-40,-187,-254,-287,-309,-300,-222,-37,136,467,...,307,271,47,-199,-383,-445,-444,-477,-517,1
1906,-184,-188,-193,-199,-193,-186,-176,-173,-163,-164,...,2,-5,-15,-16,-18,-13,-2,5,16,0
5510,-31,5,13,-2,-30,-46,-43,-37,-17,-13,...,-23,-31,-54,-70,-90,-72,-30,21,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9112,-18,-22,-33,-41,-52,-61,-70,-59,-58,-42,...,45,42,29,28,21,12,-2,-12,-11,0
5620,41,-6,-26,-37,-71,-69,-31,18,71,102,...,-18,-35,-79,-135,-162,-158,-122,-63,-35,0
3989,-258,-206,-152,-91,-31,32,90,140,182,206,...,-136,-75,-28,7,35,55,74,87,98,1
10800,11,7,0,-10,-15,-19,-19,-22,-25,-31,...,-17,-10,-11,-13,-11,-7,-3,-5,-2,0
6502,17,8,-5,-7,-10,-8,-13,-13,-8,-5,...,-18,-28,-35,-49,-51,-49,-50,-58,-70,0

In [36]:
print("Tamanho da divisão de validação / teste: %.1f" % (len(df_amostra_30) / len(df_data)))

Tamanho da divisão de validação / teste: 0.3

In [37]:
# Fazendo a divisão

# Dados de teste
df_teste = df_amostra_30.sample(frac = 0.5)

# Dados se validação
df_valid = df_amostra_30.drop(df_teste.index)

# Dados de treino
df_treino = df_data.drop(df_amostra_30.index)

In [38]:
df_teste

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
2124,59,43,22,11,1,-3,1,2,-7,-24,...,-239,-234,-231,-233,-228,-219,-210,-178,-159,0
11388,703,700,713,700,668,613,554,487,425,381,...,194,157,110,66,29,1,-5,-7,-15,1
1156,-40,-39,-45,-34,-32,-26,-8,-7,-11,-28,...,7,2,-5,-10,-24,-27,-34,-35,-29,0
9365,62,62,66,69,65,69,61,70,73,73,...,34,35,45,52,52,52,50,43,39,0
6204,-111,-54,-5,20,28,27,13,0,-33,-75,...,322,-39,20,169,784,1141,1171,905,533,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,19,-5,-19,-16,1,10,3,-4,-9,-28,...,24,28,37,37,8,-4,-31,-25,-11,0
7434,15,19,17,13,10,10,8,11,18,24,...,-32,-24,-17,-12,-11,-7,-9,-1,2,0
10360,25,11,3,-11,-13,-14,-10,-16,-25,-25,...,12,17,5,-15,-50,-77,-85,-67,-37,0
9057,40,34,27,21,12,0,-6,-6,-9,-13,...,99,85,74,68,65,62,58,50,41,0
4451,51,55,56,45,42,37,41,43,39,15,...,88,85,74,61,51,44,34,13,-7,0

In [39]:
df_valid

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
7387,-40,-187,-254,-287,-309,-300,-222,-37,136,467,...,307,271,47,-199,-383,-445,-444,-477,-517,1
1906,-184,-188,-193,-199,-193,-186,-176,-173,-163,-164,...,2,-5,-15,-16,-18,-13,-2,5,16,0
1873,-319,-389,-383,-329,-237,-135,-65,-11,91,199,...,-255,-186,-85,14,49,131,230,345,417,1
4586,-83,29,96,68,-24,-88,-170,-120,-9,163,...,285,277,268,242,186,122,85,58,47,1
2895,7,-4,-16,-20,-22,-23,-18,-18,-18,-17,...,-42,-39,-41,-40,-42,-47,-53,-54,-55,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6912,-80,-77,-68,-69,-70,-67,-69,-66,-67,-66,...,-89,-87,-83,-83,-77,-76,-66,-68,-64,0
3219,19,9,4,9,36,66,91,114,120,101,...,15,-29,-66,-85,-82,-65,-50,-43,-41,0
10201,33,37,37,42,37,43,47,48,51,53,...,4,0,-1,-2,-8,-14,-19,-22,-19,0
3561,32,37,36,40,41,41,24,15,10,1,...,55,47,38,41,42,45,37,35,28,0
10800,11,7,0,-10,-15,-19,-19,-22,-25,-31,...,-17,-10,-11,-13,-11,-7,-3,-5,-2,0

In [40]:
df_treino

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
2,26,26,19,23,34,38,40,54,71,81,...,-86,-87,-75,-80,-78,-89,-93,-93,-99,0
3,-83,-78,-63,-43,-48,-57,-69,-72,-73,-66,...,35,-4,-29,-29,-2,29,51,52,33,0
4,179,147,91,39,20,40,65,91,107,121,...,70,65,26,-22,-63,-74,-51,-13,27,1
5,-70,-72,-71,-76,-93,-119,-117,-111,-104,-106,...,-10,-19,-39,-68,-69,-66,-57,-38,-14,0
10,112,131,129,137,121,106,90,67,59,50,...,25,6,-2,-9,-3,-9,-29,-34,-40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11493,-26,-29,-39,-30,-1,43,65,69,46,9,...,38,52,45,41,35,20,27,46,66,0
11494,-60,-59,-49,-35,-30,-34,-45,-57,-54,-52,...,29,21,13,-2,-10,-18,-10,-8,2,0
11496,-12,-16,-9,21,53,92,145,211,292,390,...,-40,-45,-45,-38,-36,-35,-34,-32,-35,0
11497,36,28,18,7,-3,-20,-34,-43,-52,-57,...,-47,-45,-43,-43,-33,-25,-19,-18,-16,0
11498,-60,-84,-106,51,119,178,222,233,209,150,...,29,13,5,11,21,33,44,46,55,0

In [41]:
# Verifique a prevalência de cada subconjunto
print(
    "Teste(n = %d): %.3f"
    % (len(df_teste), calcula_prevalencia(df_teste.LABEL_TARGET.values))
)
print(
    "Validação(n = %d): %.3f"
    % (len(df_valid), calcula_prevalencia(df_valid.LABEL_TARGET.values))
)
print(
    "Treino(n = %d): %.3f"
    % (len(df_treino), calcula_prevalencia(df_treino.LABEL_TARGET.values))
)

Teste(n = 1725): 0.200
Validação(n = 1725): 0.202
Treino(n = 8050): 0.200

### Balanceamento de Classe

In [42]:
df_teste.shape

(1725, 179)

In [43]:
df_valid.shape

(1725, 179)

In [44]:
df_treino.shape

(8050, 179)

In [45]:
df_treino.LABEL_TARGET.value_counts()

0    6444
1    1606
Name: LABEL_TARGET, dtype: int64

>Aplicação da estratégia de undersamplig, para ver como o modelo se comporta reduzindo os registros da classe majoritária.

In [46]:
# Cria um índice com true/false
indice = df_treino.LABEL_TARGET == 1

In [48]:
# Define valores positivos e negativos do índice
df_train_pos = df_treino.loc[indice]
df_train_neg = df_treino.loc[~indice]

In [49]:
# Valor mínimo de registros entre classe positiva e negativa
valor_minimo = np.min([len(df_train_pos), len(df_train_neg)])

In [50]:
valor_minimo

1606

In [51]:
# Obtém valores aleatórios para o dataset de treino
df_treino_final = pd.concat([df_train_pos.sample(n = valor_minimo, random_state = 69), 
                             df_train_neg.sample(n = valor_minimo, random_state = 69)], 
                            axis = 0, 
                            ignore_index = True)

In [52]:
# Amostragem aleatória do dataset de treino
df_treino_final = df_treino_final.sample(n = len(df_treino_final), random_state = 69).reset_index(drop = True)

In [53]:
df_treino_final.shape

(3212, 179)

In [54]:
df_treino_final.LABEL_TARGET.value_counts()

0    1606
1    1606
Name: LABEL_TARGET, dtype: int64

In [55]:
# Balanceamento do conjunto de dados
print('Balanceamento em Treino(n = %d): %.3f'%(len(df_treino_final), 
                                               calcula_prevalencia(df_treino_final.LABEL_TARGET.values)))

Balanceamento em Treino(n = 3212): 0.500

## Salvando o Resultado do Pré-Processamento

In [56]:
# Salvamos todos os datasets em disco no formato csv
df_treino.to_csv('dados/dados_treino.csv', index = False)
df_treino_final.to_csv('dados/dados_treino_final.csv', index = False)
df_valid.to_csv('dados/dados_valid.csv', index = False)
df_teste.to_csv('dados/dados_teste.csv', index = False)

In [57]:
# Salvamos os nomes dos dados de entrada (colunas preditoras) para facilitar a utilização mais tarde
pickle.dump(colunas_entrada, open('dados/colunas_entrada.sav', 'wb'))